#upload {
    background-color: #9cb8f5;
    border-radius: 10px;
    width: 420px;
    padding-left: 10px;
    padding-right: 10px;
}

#upload p {
    text-align: center;
}

h5 {
    text-align: center;
}

#upload input {
    background-color: #f1dcee;
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5px;
}

#image-list {
    padding-left: 2px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style:none;
    margin:0;

}
#image-list li {
    background-color: #9cb8f5;
    border: 2px solid #1f1f1f;
    text-align:center;
    padding-top:5px;
    padding-bottom:5px;
    margin-bottom:5px;
    border-radius: 10px;
}
#image-list li img {
    width: 50px;
    vertical-align: middle;
    border:2px solid #474747;
    border-radius: 10px;
    margin-bottom: 0;
}