#menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


#leftMenu {
    #display: flex;
    #flex-direction: column;
    padding-right: 3px;
    padding-left: 10px;
    text-shadow: 2px 2px 4px #000000;

}
#leftMenu ul {
    display: flex;
    flex-direction: row;
}
#leftMenu img {
    width: 35px;
    padding: 4px;
    padding-bottom: 0px;
}


#CurrentUsers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-shadow: 2px 2px 4px #000000;
}
#centerMenu ul  {
    #border-style: solid;
    #border-color: #616161;
    #border-width: 2px;
    padding-top: 2px;

}
#centerMenu img {

    border-style: solid;
    border-radius: 50%;
    border-color: #b82045;
    border-width: 2px;
    width: 2.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#rightMenu  {
    padding-right: 10px;
    text-shadow: 2px 2px 4px #000000;
}
#rightMenu.LoggedIn ul {


}
.flex-column {
    display: flex;
    flex-direction: column
}

.flex-row {
    display: flex;
    flex-direction: row;
}

#rightMenu.LoggedOut ul {

}


#rightMenu span {
    padding-top: 1px;
    padding-right: 8px;

    padding-bottom:2px;
}

#rightMenu img {
    width: 2em;
}
#rightMenu button {
    margin-top: 2px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #9cb8f5;
}

#rightMenu form {
    padding: 0px;
    margin-left: auto;
    margin-right: auto;

    border: none;
    background-color: transparent;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: ##9cb8f5;
}
li span {

    display: block;
    color: white;
    text-align: center;
    width: auto;
    text-decoration: none;
    font: bold 16px Arial, Helvetica, sans-serif;
}
li #me {
    text-align: left;
    width: 12em;
    padding-left: 2px;
    padding-bottom: 2px;
    margin-top: 3px;

}
li a:hover {
    background-color: #9cb8f5;
}

