

#menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#leftMenu {
    padding-right: 3px;
    padding-left: 0px;
    text-shadow: 2px 2px 4px #7e7e7e;
}

#me {
    color: white;
    font-size: 15px;
    text-align: left;
    margin-left: 4px;
    margin-top: -6px;
    margin-bottom: 2px;
    width: 6em;
    text-shadow: 2px 2px 4px #4d4d4d;
}

#profile {
    display: inline;
    margin-top: -8px;
    margin-left: -20px;
    margin-right: -10px;
    margin-bottom: -6px;
    width: 110px;
    height: 55px;
    //background-color: #bfbfbf;
    transform: scale(0.9, 0.9);
}


#CurrentUsers {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-shadow: 2px 2px 4px #4d4d4d;
    font-size: 13px;
}
#CurrentUsers span {
    margin-top: 2px;
    margin-left: 2px;
}
#CurrentUsers li img:hover {
    border-style: solid;
    border-color: red;
    border-width: 4px;
    margin-top: 4px;
}

#centerMenu img {
    border-style: solid;
    border-radius: 50%;
    border-color: white;
    border-width: 2px;
    width: 2.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2px;
}

#rightMenu  {
    padding-right: 0px;
    //text-shadow: 2px 2px 4px #000000;
}

.flex-column {
    display: flex;
    flex-direction: column
}
.flex-row {
    display: flex;
    flex-direction: row;
}

#loginLabel {
    margin-top: 0px;
    margin-right: -10px;
    margin-left: -15px;
    width: 110px;
    height: 38px;
    //background-color: #bfbfbf;
}
#google, #facebook {
    margin-bottom: 2px;
    margin-top: -5px;
    margin-right: 4px;
    margin-left: 0px;
    height: 40px;
    width: 40px;
    //background-color: #bfbfbf;
}

#logoutButton {
   margin-top: -4px;
    margin-right: -28px;
    margin-bottom: -10px;
    width:120px;
    height: 42px;
    //background-color: #bfbfbf;
    transform: scale(0.9, 0.9);

}

.loggedOut img {
    width: 2em;

}

#webcam {
    position: absolute;
    top: 30px;
    right: 0px;
    transform: scale(0.75, 0.75);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a9c2e9;
}
li span {

    display: block;
    color: white;
    text-align: center;
    width: auto;
    text-decoration: none;

}

li a:hover {
    background-color: #a9c2e9;
}

ul {
    font:  16px Comic Sans MS , cursive, sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

li {
    #float: left;
}

.dropdown {
    color: #a9c2e9;
    margin-top: 0px;
    margin-left: 2px;
    width: 100%;
}

#SelectedRoom {
    width: fit-content;
    height: fit-content;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 1px;
    color: white;
    text-shadow: 2px 2px 4px #4d4d4d;
    border-style: solid;
    -moz-border-radius: 8%;
    border-radius: 8%;
    //border-width: 2px;
}

div button, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    #padding: 14px 16px;
    text-decoration: none;
}

div.dropbtn {
    display: inline-block;
}

div button:hover, .dropdown:hover .dropbtn {
    background-color: rgb(169, 194, 233);
}



.dropdown-content {
    margin-left: 5%;
    border-radius: 10%;
    border-style:solid;
    border-color: #a9c2e9;
    display: none;
    position: absolute;
    background-color: rgba(162, 190, 252, 0);
    width: auto;
    padding: 10px;
    -webkit-box-shadow:  10px 10px 5px gray;
    -moz-box-shadow:  10px 10px 5px gray;
    box-shadow:  8px 8px 5px gray;
    z-index: 999;
}

.dropdown-content button {

    width: 14em;
    #text-shadow: 2px 2px 4px #000000;
    color: #333333;
    background-color: #a9c2e9;
    padding: 2px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 10%;
}

.dropdown-content button:hover {background-color: #a9c2e9
}

.dropdown:hover .dropdown-content {
    display: block;
}


