
html {
	overflow: hidden;
}

body {
	position:absolute;
	font:  18px Comic Sans MS , cursive, sans-serif;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	bottom: 0;
	background: #9cb8f5;
}

.flex-container {
	position:absolute;
	bottom: 55px;
	width: 100%;
	top: 5px;
	display: flex;
	flex-direction: column;
}

.flexer {
	display: flex;

}

#camArea {
	position: absolute;
	top: 4em;
	left: 0.5em;
	right: 0.5em;
	display: inline;
	height: 0px;
	border-radius: 10px;
	background-color: #1f1f1f;
	transition: width 0s, height 2s;
	z-index: 99;
}

.screen {
	overflow-wrap: normal;
	margin: 10px;
	border-style: dotted;
	border-color: #616161;
    background-color: #4f4f4f;
	border-radius: 5px;
	border-width: 0px;
    width: 100%;
	height: 0px;
	transition: width 0s, height 2s;

}


#log {

	background: white;
	margin: 0;
	padding: 0.1em 0.1em 0.1em 0.1em;
	position: absolute;
	top: 4em;
	left: 0.5em;
	right: 0.5em;
	bottom: 4em;
	overflow: auto;
	border-radius: 1%;

}


.bottom {
	position:absolute;
	//flex: 1 1 10%;
	flex-direction: row;

	display: flex;
	width: 100%;
	bottom: 0;
	height: auto;
}






#divv {
	border: 1px solid #aaaaaa;
	padding: 0 0.5em 0 0.5em;
	margin: 0;
	position: absolute;
	bottom: 1em;
	right: 0px;
	width: 45px;
	height: 45px;
	overflow: hidden;
}



.fmt-row  {

	float: left;
	margin-left: 2px;
	height: auto;
	background-color: rgba(108, 108, 108, 0);
	margin-bottom: -2px;
	padding: 0px;

	border-radius: 10%;
}

.fmt-row img {
	-webkit-box-shadow:  10px 10px 5px gray;
	-moz-box-shadow:  10px 10px 5px gray;
	box-shadow:  8px 8px 5px gray;
    float: left;
	height: 138px;
	border-style: solid;
	border-width: 2px;
	border-radius: 10%;
}
#profileInfo {
	-webkit-box-shadow:  10px 10px 5px gray;
	-moz-box-shadow:  10px 10px 5px gray;
	box-shadow:  8px 8px 5px gray;
	background-color: rgb(80, 80, 80);
	float: left;
	border-radius: 10%;
	border-style: solid;
	border-width: 2px;
}
#profileInfo li {
	color: white;
	margin-left: 4px;
	margin-right: 2px;
}

#post {
	display: flex;
	flex-direction: row;
	margin-left: 2px;
	height: auto;
	background-color: white;
	margin-bottom: 2px;

}
#postitem {
	display: flex;
	flex-direction: row;
	margin-left: 2px;
	height: auto;
	background-color: white;
	margin-bottom: -2px;
}
#postitem span {

	margin-left: 4px;
	text-align: left;
}

#postbutton {
	display: flex;
	flex-direction: row;
	margin-left: 2px;
	height: auto;
	background-color: white;
	padding:0;
}

#post li {;
	padding-right: 2px;
	height: auto;
}

#pictureURL img {
	left: 0px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border-style: solid;
	border-color: #000000;
	border-width: 2px;
	margin-top: 2px
}

#timestamp {

	font: bold 10px Arial, Helvetica, sans-serif;
	color: #262626;
	width: auto;
	text-align: left;
	word-break: keep-all;
}

#from {
	margin-top: -3px;
	margin-bottom: -3px;
	height: auto;
	font-size: 20px;
	font-weight:bold;
	color: #7994ce;
}

#messageText {
	font: 18px Arial, Helvetica, sans-serif;
    height: auto;
	white-space: normal;
	word-break: break-all;
	margin-left: 6px;
	color: black;
	text-align: left;
}
.emojioneemoji  {
	width: 28px;
	padding-left: 2px;
}


#form {
	padding: 0 0.5em 0 0.5em;
	margin: 0;
	height:50px;
	left: 0px;
	width: 100%;
}

#PublishList{
	width: 20%;
}

#PublishList li {
	height: 50px;
}

#PublishList img {
	border-style: solid;
	border-radius: 50%;
	border-color: #000000;
	border-width: 2px;
	width: 2.5em;
	display: block;
    margin-bottom: 5px;
}

#PublishList img:hover {
	border-style: solid;
	border-color: red;
	border-width: 4px;
}

.row:after, .row:before  {
	content: " ";
	display: table;
	clear: both;
}

.row_elem  {
	float: left;
	width: 80%;
    margin-left: 2px;
}

.row_elem  div {
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius: 20px;
}

#submit {
	height: 2em;
	width: 4em;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border-radius: 20px;

}

#localCam {
	position: absolute;
	top: 10px;

	display: none;
	transform: scale(0.75, 0.75);
	z-index: 999;
}
